@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Raleway:400,400i,700,700i|Space+Mono&display=swap');

/*  GOOGLE FONTS
font-family: 'Odibee Sans', cursive;
font-family: 'Raleway', sans-serif;
*/
/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: #FF6666;
	text-decoration: none;
}

a:focus, a:hover {
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 18px;
	background-color: black;
	color: #8ACE2D;
}

code {
	font-family: 'Space Mono', monospace;
}

h1, h2, h3 {
	font-family: 'Odibee Sans', cursive;
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	letter-spacing: 0.4rem;
	color: #FF6666;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.75em;
}

header {
	
}

main {
	margin-bottom: 20em;
}

p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.45em;
	}

#intro {

}

#intro, #how-does-it-work, #influence, #joke {
	width: 40em;
	margin: 0 auto 1em;
}