@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Raleway:400,400i,700,700i&display=swap');

/*  GOOGLE FONTS
font-family: 'Odibee Sans', cursive;
font-family: 'Raleway', sans-serif;
*/
/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 18px;
}

code {
	
}

h1, h2, h3 {
	font-family: 'Odibee Sans', cursive;
}

h1 {

}

h2 {

}

h3 {
	
}

header {
	
}

main {

}

p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5em;
	width: 70em;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}